<p id="notice"><%= notice %></p>

<h1><%= @league.name %></h1>

<div>
    <div class="float-left league-standings">
        <h2>Standings</h2>
    </div>

    <div class="float-left league-members">
      <h2>Members</h2>
      <% @members.each do |member| %>
          <div><%= member.full_name %></div>
      <% end %>
    </div>

    <div class="float-left">
      <h2>Teams</h2>
      <% @teams.each do |team| %>
          <div><%= team.name %></div>
          <div>
            <% team.golfers.each do |golfer| %>
            - <%= golfer.full_name %>
                <br/>
            <% end %>
          </div>
      <% end %>
    </div>
</div>
<div style="clear:both;"></div>
<div>
  <div>
    <h2>Matches</h2>
    <% @upcoming_matches.each do |match| %>
        <div>
          <%= match.date.localtime.strftime('%B %-d %Y') %> :
          <%= match.name %>
        </div>
    <% end %>
  </div>
</div>
