<h1>Listing golfers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @golfers.each do |golfer| %>
  <tr>
    <td><%= golfer.first_name %></td>
    <td><%= golfer.last_name %></td>
    <td><%= golfer.user_id %></td>
    <td><%= link_to 'Show', golfer %></td>
    <td><%= link_to 'Edit', edit_golfer_path(golfer) %></td>
    <td><%= link_to 'Destroy', golfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Golfer', new_golfer_path %>
