<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @round.number %>
</p>

<p>
  <b>Date:</b>
  <%= @round.date %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
