<h1>Listing League Teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>League</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @league_teams.each do |league_team| %>
  <tr>
    <td><%= league_team.name %></td>
    <td><%= league_team.league.name %></td>
    <td><%= link_to 'Show', league_team %></td>
    <td><%= link_to 'Edit', edit_league_team_path(league_team) %></td>
    <td><%= link_to 'Destroy', league_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_league_team_path %>
