<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league_team.name %>
</p>

<p>
  <b>League:</b>
  <%= @league_team.league_id %>
</p>


<%= link_to 'Edit', edit_league_team_path(@league_team) %> |
<%= link_to 'Back', league_teams_path %>
