<!DOCTYPE html>
<html>
<head>
  <title>GolfLeagueMgr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="float-left main-navigation">
  <% if user_signed_in?  %>
      <%= link_to 'Home', root_path %>
      <% if current_user.is_admin? %>
          | <%= link_to 'Admin', admins_path %>
      <% end %>
  <% end %>
</div>
<div class="float-right main-navigation">
  <% if user_signed_in? %>
      Current user is <%= link_to current_user.golfer.full_name, edit_user_registration_path, :id => "edit_user" %> |
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
<br/>
<div>
  <%= yield %>
</div>

</body>
</html>
